<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layouts/header') %>
  </head>
  <body class="bg-secondary">
    <div class="container">
      <%- include('../layouts/nav') %>
      <div class="body bg-dark p-5 mt-2"><%- include ('signupForm') %></div>
      <%- include('../layouts/footer') %>
    </div>
  </body>
</html>
