<div class="d-flex flex-column justify-content-end">
  <div class="p-2">
    <div id="myDIV" class="header">
      <h2 style="margin: 5px">My To Do List</h2>
      <input type="text" id="myInput" placeholder="Title..." />
      <span onclick="newElement()" class="addBtn">Add</span>
    </div>
  </div>
  <div class="p-2">
    <ul id="myUL">
      <li class="task">Hit the gym</li>
      <li class="checked">Pay bills</li>
      <li class="task">Meet George</li>
      <li class="task">Buy eggs</li>
      <li class="task">Read a book</li>
      <li class="task">Organize office</li>
    </ul>
  </div>
  <div class="p-2">
    <button
      type="button"
      onclick="submitTask()"
      class="btn btn-outline-success"
    >
      SAVE
    </button>
  </div>
</div>

<script src="custom_components/js/todoList.js"></script>
